<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-lazy-init="true">

    <bean id="anotherBean" class="com.solvay.spring.examples.AnotherBean" lazy-init="true">
        <property name="name" value="zhang3" />
    </bean>
    <bean id="exampleBean" class="com.solvay.spring.examples.ExampleBean" depends-on="">
        <constructor-arg name="years" value="7500000" />
        <constructor-arg name="ultimateAnswer" value="42" />
    </bean>
</beans>